// Override built-in Boostrap variables
// ::: Container widths
$grid-breakpoints: (
        lg: 1025px,
);

$container-max-widths: (
        lg: 1000px,
        xl: 1082px,
);

// ::: Link default
$link-color: $color-brand;
$link-hover-decoration: none;

// ::: Nav link padding
// $nav-link-padding-y: 0 !default;
// $nav-link-padding-x: 0 !default;

// ::: Navbar link padding
// $navbar-nav-link-padding-x: 0.75em !default;
// $navbar-nav-link-padding-x: 0.75em !default;

// ::: Input height
// $input-height: 50px !default;

// ::: Input radius
$input-border-radius: $base-radius !default;

// ::: Input border
// $input-border-width: 0 !default;

// ::: Input padding
// $input-padding-y: 15px !default;
// $input-padding-x: 15px !default;
$theme-colors: (
  "dark": #202125,
);