// !: Settings – Colours

// Color palette
$color-brand: #1C5B80;
$color-brand-highlight: lighten($color-brand, 15%);
$color-brand-shadow: darken($color-brand, 15%);
$color-gray: #666666;
$color-gray-light: #CCCCCC;
$color-gray-dark: #333333;
$color-highlight: rgba(255, 255, 255, 0.05);
$color-shadow: rgba(0, 0, 0, 0.05);
$color-black: black;
$color-white: white;
$color-dark: #202125;
$color-yellow: #FF9D21;
$color-brown: #44240E;


$hamburger-active-layer-color: white;
// UI
$color-ui: $color-gray-light;

// Text
$color-text: $color-gray-dark;

// Links
$color-link: $color-brand;
$color-link-hover: $color-brand-shadow;

// Buttons
$color-btn: $color-brand;
$color-btn-hover: $color-brand-shadow;
