@font-face {
    font-family: "fontello";
    font-weight: normal;
    font-style: normal;

    src: url("../src/fonts/fontello/fontello.eot?19912074");
    src: url("../src/fonts/fontello/fontello.eot?19912074#iefix") format("embedded-opentype"),
    url("../src/fonts/fontello/fontello.woff2?19912074") format("woff2"),
    url("../src/fonts/fontello/fontello.woff?19912074") format("woff"),
    url("../src/fonts/fontello/fontello.ttf?19912074") format("truetype"),
    url("../src/fonts/fontello/fontello.svg?19912074#fontello") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../src/fonts/fontello/fontello.svg?19912074#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*="icon-"]:before {
    font-family: "fontello";
    font-weight: normal;
    font-style: normal;
   
    font-variant: normal;
   
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-down-open-mini:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */