/* Arrows */
.slick-prev,
.slick-next{
    z-index: 11;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 1;
    display: block;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0.3px;
    @include media-breakpoint-up(lg) {
        bottom: auto;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    opacity: 1;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before,
.slick-next:before {
    // font-family: 'slick';   
    font-size: 20px;
    line-height: 1;
    background: white;
    width: 50px;
    height: 2px;
    display: block;
    position: absolute;
    opacity: 0.3;
    top: 50%;
    transform: translateY(-50%);
}
.slick-prev {
    left: 70px;
    &:before {
        right: calc(100% + 20px);
    }
}
.slick-prev:before {
    content: ' ';
}

.slick-next {
    right: 70px;
    &:before {
        left: calc(100% + 20px);
    }
}

.slick-next:before {
    content: ' ';
}
.slick-dots {
    position: absolute;
    z-index: 11;
    bottom: -10px;
    list-style: none;
    padding: 0px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    margin: 0px;
    @include media-breakpoint-up(lg) {
        display: flex;
        bottom: 30px;
        button:before {
            background: rgba(#aaaaaa,.75);
        }
        li.slick-active button:before {
            background: #aaaaaa;
        }
    }
    button {
        width: 30px;
        height: 20px;
        border: none;
        font-size: 0px;
        background: transparent;
        line-height: 0px;
        cursor: pointer;
        outline: none;
        margin: auto;
        position: relative;
        &:before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            content: "";
            width: 30px;
            height: 2px;
            background: rgba(#aaa,.75);
            @include media-breakpoint-up(lg) {
                background: rgba(white,.75);
            }
        }
    }
    li {
        margin: 0 7px;

        &.slick-active button:before {
            background: #aaa;
            @include media-breakpoint-up(lg) {
                background: white;
            }
        }
    }
    
}
.banner--large .slider {
    margin-bottom: 5px;
    float: none;
    clear: both;    
}
.banner--large .slider__image{
    background: black;
    position: relative;
    img {
        z-index: 1;
        min-height: calc(100vh - 105px);
        min-width: 100%;
        @include media-breakpoint-down(md) {
            // padding-top: 75px;
            min-height: calc(100vh - 80px);
        }
    }
    &:before {
        content: "";
        z-index: 2;
        background: rgba(black,.18);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
.slider__container {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 12;
    text-align: center;
    color: white;
    padding: 0 15px;
    p {
        font-size: 15px;
        line-height: 25px;
        width: 100%;
        max-width: 615px;
        margin: auto;
        display: block;
        @include media-breakpoint-up(lg) {
            padding-top: 20px;
        }
    }    
}
.slick-slide > div,
.slick-slide .slider__item {
    float: left;
    width: 100%;
}
.banner--small {
    .slider {
        height: 550px;
    }
    .slider__image {
       &:before {
        content: "";
        z-index: 2;
        background: rgba(black,.18);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
}