// !: INIT Component – Footer

.footer {
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: $color-dark;

    
    a,
    p,
    address {
        @include font-size(14px);
        font-weight: 300;
        color: $color-white;

        @include media-breakpoint-up(md) {
            @include font-size(15px);
        }
    }
    address {
        line-height: 27px;
    }
    a {
        color: $color-white;
        &:hover {
            color: #00b6f1;
        }
    }
    svg,
    img {
        max-width: 360px;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
.footer__tagline {
    @include font-size(32px, 1);

    margin-top: 0;
    margin-bottom: 0;

    color: $color-white;
}
.footer__nav {
    padding-left: 0;

    list-style-type: none;
    li {
        margin-bottom: 4px;
    }
}
.footer__extra {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
        margin-top: 50px;
    }
    a:first-child {
        margin-right: 10px;

        @include media-breakpoint-up(md) {
            margin-right: 50px;
        }
    }
}
.footer__lower {
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: $color-white;

    @include media-breakpoint-up(md) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    p {
        font-size: 16px;

        margin-bottom: 0;

        color: $color-black;
    }
}
h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.content_wrapper {
    padding-top: 40px;
    padding-bottom: 22px;
    margin-bottom: 40px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-color: white;
    @include media-breakpoint-down(xs) {
        .col-sm-4 {
            text-align: center;
            margin-bottom: 15px;
        }
    }
}
.footer__logos {
    align-items: center;
    justify-content: center;

    width: 100%;

    @include media-breakpoint-up(md) {
        display: flex;
    }
    img {
        max-width: 40px;

        @include media-breakpoint-up(md) {
            max-width: 60px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 100%;
        }
        &:not(:first-child) {
            margin-left: 5px;

            @include media-breakpoint-up(lg) {
                margin-left: 10px;
            }
        }
    }
}
.copyrights {
    opacity: 0.7;
}
#back-to-top {
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
    background: rgba(black,0.3);
    position: fixed;
    z-index: 1001;
    bottom: 70px;
    right: 10px;
    width: 46px;
    border-radius: 50%;
    line-height: 1;
    height: 46px;
    font-size: 26px;
    // border-radius: 50px;
    // border: solid 2px rgba($white,0.3);
    box-shadow: 4px 3px 4px rgba(black,.2);
    text-align: center;
    @include media-breakpoint-down(sm) {
        right: 5px;
        bottom: 10px;
    }
    &:hover {
        background: rgba(black,0.8);
        // border: solid 2px rgba($color-primary,1);
    }
    .svg-inline--fa, .fas {
        position: relative;
        top: 50%;
        transform: translate(0px, -50%);
        color: white;
        font-size: 22px;
        line-height: 46px;
        height: 46px;
    }

}
//https://www.lockedowndesign.com/social-media-colors/
.socialLinks,
.socialNavList {
    padding-left: 0px;
    display: flex;
    [class*="nav"] {
        text-align: center;
        list-style: none;
        font-size: 22px;    
        + li {
            margin-left: 20px;
            @include media-breakpoint-down(sm) {
                margin-left: 10px;
            }
        }
        a {
            font-size: 22px;  
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            overflow: hidden;
            padding: 5px;
            position: relative;
            width: 38px;
            height: 38px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 25px rgba(black,.2);
            // .svg-inline--fa {
            //  position: absolute;
            //  top: 50%;
            //  transform: translateY(-50%);
            //  left: 0;
            //  right: 0;
            //  text-align: center;
            //  color: $color-main;
            //  font-size: 26px;
            // }
            span {
                display: none;
                @include media-breakpoint-up(lg) {
                    display: inline-block;
                    vertical-align: middle;
                }
                line-height: 38px;
                padding-left: 14px;
                font-size: 22px;
                text-transform: capitalize;
            }
            &:before {
                font-family: "Font Awesome 5 Brands";
                font-weight: 400;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                color: black;
            }

        }
        &:hover a {
            outline: 0 none;
            color: transparent;
        }
    }
    .nav-linkedin,
    .navlinkedin {
        a:before {
            content: "\f0e1";
        }
        &:hover a:before {
            color: #007bb6;
        }
    }  
    .nav-facebook,
    .navfacebook  {
        a:before {
            content: "\f39e";
        }
        &:hover a:before {
            color: #3b5998
        }
    }
    .nav-twitter,.navtwitter  {
        a:before {
            content: "\f099";
        }
        &:hover a:before {
            color: #00b6f1;
        }
    }
    .nav-youtube{
        a:before {
            content: "\f16a";
        }
        &:hover a:before {
            color: #ff0000
        }
    }
    .nav-vimeo {
        a:before {
            content: "\f27d";
        }
        &:hover a:before {
            color: #aad450;
        }
    }
    .nav-google,
    .navgoogle {
        a:before {
            content: "\f0d5";
        }
        &:hover a:before {
            color: #dd4b39;
        }
    }
    .nav-instagram {
        a:before {
            content: "\f16d";
        }
        &:hover a:before {
            color: #517fa4;
        }
    }
    .nav-youtube {
        a:before {
            content: "\f167";
        }
        &:hover a:before {
            color: #bb0000;
        }
    }
    .nav-rss-feed {
        a:before {
            font-family: "Font Awesome 5 Solid";
            content: "\f143";
        }
        &:hover a:before {
            color: #f26522;
        }
    }
    .nav-g-plus {
        a:before {
            content: "\f0d5";
        }
        &:hover a:before {
            color: #dd4b39;
        }
    }
}