// !: INIT Component – Navbar

// Offcanvas limit : md (991px)

@include media-breakpoint-down(md) {
    .offcanvas-collapse {
        position: fixed;
        top: 0; /* Height of navbar */
        bottom: 0;
        left: 100%;

        visibility: hidden;
        overflow-y: auto;

        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;

        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: left, visibility;

        background-color: $color-black;
    }
    .offcanvas-collapse.open {
        left: 0;

        visibility: visible;
    }
}

// Custom Navbar styling
.c-navbar {
    background-color: $color-white;
    box-shadow: 0 0 20px 0 rgba($color-black, 0.1);
    height: 100px;
    @include media-breakpoint-up(lg) {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 0px;
        padding-right: 0px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 0;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(md) {
        height: 75px;
    }
    @include media-breakpoint-down(xxxs) {
        .btn {
            padding: 4px;
        }
    }
    @include media-breakpoint-down(xs) {
        .btn-dark {
           width: 40px;
           font-size: 22px;
           padding: 0 3px;
           text-align: center;
        }
    }
    .navbar-brand {
        svg,
        img {
            width: 100%;
            max-width: 205px;
            @media (max-width: 420px) {
                max-width: calc(100vw - 175px);
            }
        }
    }
    .navbar-nav {
        @include media-breakpoint-up(lg) {
            padding-top: 15px;
            padding-bottom: 15px;
            width: 100%;
            justify-content: flex-end;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 275px;
            // padding-right: 50px;
            // padding-left: 50px;
        }
    }
    .navbar-collapse {
        display: flex;
        align-items: center;
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;

            padding-top: 75px; // Navbar height
        }
    }
    .nav-item {
        @include media-breakpoint-up(lg) {
            align-items: center;
            display: inline-flex;
            // padding-left: 3%;
            > a {
                display: block;
                float: left;
                white-space: nowrap;
            }
            margin-right: 2%;
            &:last-of-type {
                margin-right: 0;
            }

            .dropdown-menu {
                margin-top: 0px;
                min-width: 200px;
                padding: 0px;
                // border-color: #aaa;
                border: none;
                box-shadow: 2px 4px 6px #aaa;
                border-radius: 0px;
                .dropdown-item {
                    font-size: 15px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-weight: 500;
                    &:hover,
                    .active {
                        color: white;
                        background: $color-brand;
                    }
                }
            }
            &:hover {
                .toggleSubmenu {
                    color: $color-brand;
                }
                .dropdown-menu,
                .dropdown-menu.show {
                    display: block;
                }
            }
        }
        &.active {
            .nav-link {
                @include media-breakpoint-up(lg) {
                    font-weight: 600;

                    position: relative;

                    color: $color-brand;
                    // &:after {
                    //     @include pseudo;
                    //     @include center(horizontal);

                    //     bottom: -15px;

                    //     width: 20px;
                    //     height: 2px;

                    //     background-color: $color-brand;
                    // }
                }
            }
        }
        .toggleSubmenu {
            border: none;
            background: none;
            outline: none;
            padding-left: 0px;
            i {
                font-size: 80%;
            }
        }
        @include media-breakpoint-down(md) {
            &.dropdown {
                display: flex;
                flex-wrap: wrap;
                > a {
                    white-space: nowrap;
                }
                .toggleSubmenu {
                    padding: 15px;
                    color: white;
                }
                .dropdown-menu {
                    flex: 1 0 100%;
                }
            }
        }
    }
    .nav-link {
        @include font-size(26px, 46px);

        color: $color-white;
        font-weight: 600;
        @include media-breakpoint-up(lg) {
            @include font-size(15px);

            color: $color-black;
        }
        &:hover {
            color: $color-brand;
        }
    }
}
.c-navbar__submit {
    @include center(vertical);

    position: absolute;
    right: 20px;
}
.c-navbar__actions {
    position: relative;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: center;

        
        // padding-top: 15px;
        // padding-bottom: 15px;
    }
    // @include media-breakpoint-up(xl) {
    //     margin-left: 25px;
    // }
    .btn--search {
        @include media-breakpoint-up(lg) {
            margin-right: 10px;
            margin-left: 10px;
            padding: 10px;
        }
    }
    .btn--contact {
        font-size: 15px;
        text-transform: uppercase;
        background: #202125;
        border-radius: 0;
        @include media-breakpoint-up(lg) {
            padding: 8px 19px;
        }
    }
}
.c-navbar__extra {
    @include font-size(11px, 1);

    position: absolute;
    right: -5px;

    margin-top: 5px;
    padding: 5px;
    a {
        @include font-size(11px, 1);

        padding: 5px;

        color: $color-white;
        border-radius: $base-radius;
        background-color: #343A40;
    }
}
.c-navbar__floating {
    position: absolute;
    right: -40px;
    bottom: -200px;

    padding: 5px;

    transform: rotate(-90deg);

    @include media-breakpoint-down(md) {
        display: none;
    }

    a {
        @include font-size(16px, 1);

        padding: 20px;

        color: $color-white;
        border-top-left-radius: $base-radius;
        border-top-right-radius: $base-radius;
        background-color: $color-brand-highlight;
    }
}
