.module_02 {
	position: relative;
	overflow: hidden;
	visibility: hidden;
	margin-bottom: 0px;
	.row {
		margin: 0 -2.5px;
		.col-12 {
			padding: 0 2.5px;
		}
	}
	.item {
		position: relative;
		overflow: hidden;
		background: white;
		margin-bottom: 5px;
		color: white;
		&:before {
			content: "";
			display: block;
			padding-bottom: 94%;
		}
		&:hover img {
			transform: scale(1.4) rotate(25deg);
		}
	}
	.img_wrap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(black,.5);
			z-index: 3;
		}
		&:after {
			z-index: 1;
		}
		img {
			z-index: 2;
			position: relative;
			min-width: 100%;
			max-width: 100%;
			transition: all 0.5s ease;
		}
	}
	.content_wrap {
		visibility: hidden;
		z-index: 3;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		padding: 15px;
		margin-left: 29px;
		@media (min-width: 1025px) and (max-width: 1400px) {
			margin-left: 0px;
		}
		@include media-breakpoint-down(xs) {
			margin-left: 0px;
		}
	}
	h2 {
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 25px;
		@include font-size(35px,45px);
		transition: all 0.5s ease-in;
		@media (min-width: 1401px) and (max-width: 1600px) {
			font-size: 30px;
			line-height: 1.1;
			margin-bottom: 10px;
		}
		@media (min-width: 1025px) and (max-width: 1400px) {
			font-size: 25px;
			line-height: 1.1;
			margin-bottom: 10px;
		}
		@include media-breakpoint-down(xs) {
			@include font-size(30px,35px);
		}

	}
	.textline {
		position: relative;
		overflow: hidden;
		max-height: 0px;
		transition: max-height 0.5s ease;
	}
	.item:hover .textline {
		max-height: 1000px;
	}
	p {
		transition: all 0.5s ease-in;
		font-size: 15px;
		line-height: 25px;
		max-width: 413px;
	}
}