.module_09 {
	display: block;
	position: relative;
	padding-top: 10px;
	margin-bottom: 30px;
	background: url('../images/layout/background.png');
	.row {
		margin-left: -10px;
		margin-right: -10px;
		.col-12 {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	.box {
		margin-bottom: 22px;
		background: white;
		img {
			width: 100%;
		}
	}
	.content_wrap {
		height: 76px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px 25px 5px;
		text-align: left;
		overflow: hidden;
		.btn {
			text-align: left;
			font-size: 15px;
			margin-top: 0px;
		}
	}
	.box.v2 {
		background: transparent;
		.content_wrap {
			padding: 15px 0;
			justify-content: flex-start;
			height: auto;
			flex-direction: column;
			p {
				font-size: 15px;
				line-height: 25px;
				margin-right: auto;
				margin-bottom: 7px;
			}
			.btn {
				margin-right: auto;
				margin-bottom: 5px;
			}
		}
	}
}