.module_08 {
	display: block;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	@include media-breakpoint-between(md, lg) {
		padding: 180px 0 100px;
		min-height: 500px;
	}
	.col-md-7 {
		@include media-breakpoint-up(md) {
			flex: 0 0 55%;
			max-width: 55%;
		}
	}
	.col-md-5 {
		@include media-breakpoint-up(md) {
			flex: 0 0 45%;
			max-width: 45%;
		}
	}
	.content_wrap {	
		padding-bottom: 20px;	
		@include media-breakpoint-up(md) {
			padding-bottom: 56px;
		}		
		&:before {
			content: "";
			position: absolute;
			right: 0;
			width: calc(100% + 200px);
			border: 4px solid #FF9D21;
			height: 100%;
			top: 0;
			@include media-breakpoint-down(sm) {
				height: 95%;
				width: 100%;
				left: 0;
			}
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			max-width: 480px;
			p {
				max-width: 416px;
			}
		}
		.content_block {
			padding-top: 35px;
			@include media-breakpoint-up(md) {
				padding-top: 78px;
			}
		}
		p {
			max-width: 90%;
			font-size: 15px;
			line-height: 25px;
		}
	}
	.hero {
		position: absolute;
		z-index: 11;
		background: white;
		transform: translateY(-50%);
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}
		h2 {
			font-weight: 300;
			color: $color-dark;
			text-transform: uppercase;
			line-height: 1.4;
			display: flex;
			.img-block {
				max-width: 70px;
				img, svg {
					max-width: 100%;
					height: auto;
				}
			}
			@include media-breakpoint-up(lg) {
				font-size: 35px;
				.img-block {
					max-width: 110px;
				}
			}
			@include media-breakpoint-between(md, lg) {
				font-size: 25px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 20px;
			}
		}
	}
	.img_wrap {
		// visibility: hidden;
		z-index: 11;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include media-breakpoint-up(md) {
			top: -22px;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
		a {	
			&:after {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 10;
				background: rgba(black,.1);
				transition: all 0.3s ease;
			}			
			i {
				position: absolute;
				z-index: 11;
				color: rgba(white,.7);
				position: absolute;
				bottom: 15px;
				right: 15px;
				font-size: 32px;	
				transition: all 0.4s ease;		
				@include media-breakpoint-down(xs) {
					right: 35px;
				}
			}
			&:hover {
				&:after {
					background: rgba(black,.3);
				}
				i {
					font-size: 40px;
				}
			}
		}
	}
	&.inverted {
		.content_wrap {
			left: 15px;
			right: auto;
			@include media-breakpoint-up(md) {
				width: 100%;
				max-width: 560px;
				padding-left: 45px;
				.content_block {
					max-width: 480px;
				}
			}
			&:before {
				right: auto;
				left: 0;
			}
		}
	}
}