.module_12 {
	position: relative;
	z-index: 12;
	.hero_wrap {
		margin-top: -60px;
		margin-left: -15px;
		margin-right: -15px;
		background: white;
		h2 {
			text-align: left;
			margin-top: 20px;
			padding-left: 15px;
		}
		.rating {
			display: flex;
			list-style: none;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 15px;
			justify-content: flex-end;
			margin-top: -25px;
			@include media-breakpoint-up(md) {
				margin-top: 0px;
				padding-top: 25px;
				margin-bottom: 25px;
			}
			i {
				color: gold;
			}
		}
	}
	p {
		font-size: 15px;
		line-height: 25px;
	}
	.facilities {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin: 0 0 10px;
		li {
			margin-bottom: 20px;
			flex: 0 0 50%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.fig {
				width: 60px;
				height: 60px;
				text-align: center;
				line-height: 60px;
				margin-right: 10px;
			}
			span {
				font-weight: 500;
			}
		}
	}
}