.module_footer {
	display: block;
	position: relative;
	z-index: 11;
	overflow: hidden;
	margin-top: 55px;
	margin-bottom: -20vw;
	@include media-breakpoint-up(sm) {
		margin-top: 110px;
		margin-bottom: -120px;
	}
	.intro {
		text-align: center;
		width: 100%;
		max-width: 717px;
		margin-left: auto;
		margin-right: auto;
		h2 {
			line-height: 1;
		}
		p {
			font-size: 15px;
			line-height: 25px;
			max-width: 584px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}
	}
	.intro ~ .row {
		// box-shadow: 0 8px 18px rgba(black,.3);
		@include media-breakpoint-down(xs) {
			margin: 0 -15px;
			img {
				width: 100%;
			}
		}
	}
	.content_block {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
		padding-left: 40px;
		p {
			color: white;
		}
	}
	.pilon {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		background: white;
		&:after {
			content: "";
			display: block;
			padding-bottom: 84%;
		}
		.img_wrap {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			height: 100%;
		}
		img {
			transform: translate3d(0,0,0);
			width: 100%;
			min-height: 100%
		}
		&:before {
			background: rgba(0, 0, 0, 0);
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			transition: all 0.3s ease;
			z-index: 2;
		}
		&:hover {
			.content_block {
				opacity: 1;
				visibility: visible;
				top: 50%;
				transform: translateY(-50%);
				z-index: 11;
			}
			&:before {
				background: rgba(0, 0, 0, 0.6);
			}
		}
	}

}