.module_01 {
	display: block;
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-bottom: 5px;
	.img_wrap {
		display: block;
		position: relative;
		height: 450px;		
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			bottom: 0;
			background: rgba(black,0.1);
			z-index: 2;
		}
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -50%;
			right: -50%;
			margin: auto;
			z-index: 1;
			min-width: 100%;
		}
	}
	.content_wrap {
		position: absolute;
		z-index: 4;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		max-width: 800px;
		text-align: center;
		color: white;
		@include media-breakpoint-up(md) {
			right: 5%;
			left: auto;
		}
		p {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			max-width: 461px;
			font-size: 15px;
    		line-height: 25px;
		}
		.heading_two {
			@include media-breakpoint-up(lg) {
				@include font-size(100px,120px)
			}
		}
	}
	.punchline {
		a {
			color: white;
		}
	}
	&.v2 {
		.content_wrap {
			max-width: 900px;
			@include media-breakpoint-up(md) {
				right: 0;
				left: 0;
				margin: auto;
			}
		}
		.img_wrap {
			height: 465px;
			&:after {
				background: rgba(black,.5);
			}
		}
		.heading_two {
			@include media-breakpoint-up(lg) {
				@include font-size(100px,120px)
			}
		}
	}
}
