.module_03 {
	position: relative;
	visibility: hidden;
	display: block;
	background: white;
	margin-bottom: 5px;
	.intro {
		text-align: center;
		width: 100%;
		max-width: 717px;
		margin-left: auto;
		margin-right: auto;
		p {
			max-width: 584px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.subtitle {
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 0.4em;
		text-transform: uppercase;
	}
	.content_wrap {
		display: block;
		margin-bottom: 35px;
		p {
			font-size: 15px;
			line-height: 25px;
			margin-bottom: 0px;
		}
	}
	.img_wrap {
		position: relative;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	.item {
		visibility: hidden;
		@include media-breakpoint-down(xs) {
			margin: 0 -15px;
			.content_wrap {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}