.module_06 {
	position: relative;
	display: block;
	overflow: hidden;
	.split_items {
		margin-bottom: 40px;
		.row {
			margin-left: -2.5px;
			margin-right: -2.5px;
			.col-12 {
				padding-left: 2.5px;
				padding-right: 2.5px;
			}
		}
		article {
			visibility: hidden;
			position: relative;
			width: 100%;
			height: 450px;
			overflow: hidden;
			margin-bottom: 5px;
			@include media-breakpoint-down(sm) {
				height: 350px;
			}
		}
		.img_wrap {
			height: 100%;
			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -50%;
				right: -50%;
				margin: auto;
				height: 100%;
				min-width: 100%;
			}
			&.has_overlay:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				bottom: 0;
				background: rgba(0, 0, 0, 0.1);
				z-index: 2;
			}
			&.v2:before {
				background: rgba(0, 0, 0, 0.3);
			}
		}
		.content_wrap {
			color: white;
			text-transform: uppercase;			
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			z-index: 11;
			transform: translateY(-50%);
			padding-left: 56px;
			h3 {
				font-weight: 300;
				margin-bottom: 45px;
				@include media-breakpoint-up(md) {
					@include font-size(35px, 45px);
				}
			}			
		}
	}
}