.module_11 {
	display: block;
	position: relative;
	.slider_custom {
		position: relative;
		margin-bottom: 100px;
		@include media-breakpoint-up(md) {
			margin-bottom: 150px;
		} 
		img {
			max-width: 100%;
			width: 100%;
		}
		.item {
			padding: 0 10px;
		}
		.slick-slide > div {
			width: 100%;
		}
		.slick-dots {
			display: flex;
			bottom: -40px;
			button {
				width: 11px;
				height: 11px;
				padding: 0px;
				&:before {
					background: #C4C4C4;
					width: 11px;
					height: 11px;
					border-radius: 50%;
				}			
			}
			.slick-active button:before {
				background: rgba(#202125,.7);
			}
		}
		.slick-next {
			right: 0;
			&:before {
				background-image: url('../images/layout/arrow_right.svg');
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				background-image: url('../images/layout/arrow_left.svg');
			}
		}
		.slick-prev, .slick-next {
			width: 22%;
			font-size: 0px;
			line-height: 1;
			height: 101%;
			background: rgba(white,.8);
			@include media-breakpoint-down(md) {
				width: 21%;
				bottom: 0px;
			}
			@include media-breakpoint-down(xs) {
				width: 13vw;
				&:before {
					background-size: 60%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			&:before {
				background-color: transparent;
				width: 33px;
				height: 54.44px;
				left: 0;
				right: 0;
				text-align: center;
				margin: auto;
				opacity: .7;
			}
			&:hover {
				background: rgba(white,.88);
				&:before {
					opacity: 1;
				}
			}
		}
	}
}
