.module_10 {
  background-image: url('../images/layout/background.png');
  background-color: $color-dark;
  display: block;
  position: relative;
  padding: 10px 0 30px;
  .section_title {
  	color: white;
  }
  .item {
  	background: white;
  	color: $color-dark;
    display: block;
    margin-bottom: 20px;
    .content_wrap {
      padding: 10px 25px 25px;
      p {
        font-size: 15px;
        line-height: 25px;
      }
      .btn {
        text-align: left;
        font-size: 15px;
      }
    }
    .img_wrap{
      overflow: hidden;
      position: relative;
      &:before {
        display: block;
        padding-bottom: 63.3%;
        content: "";
      }
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -50%;
        right: -50%;
        margin: auto;
        z-index: 11;
        background: white;
        max-width: 100%;
      }
    }
  }
  
  .slick-slide > div {
      padding-left: 10px;
      padding-right: 10px;
 }
  
  .slick-dots {
    display: flex;
  }
}
