.module_07 {
	display: block;
	overflow: hidden;
	margin-bottom: 60px;
	@include media-breakpoint-up(md) {
		margin-bottom: 120px;
	}
}
.quotes_slider {
	text-align: center;
	margin-bottom: 50px;
	.item {
		text-align: center;
		max-width: 770px;
		margin: auto;
		padding: 50px 15px;
		position: relative;
		img, svg {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			z-index: -1;
			right: 0;
			margin: auto;
			height: 100%;
			width: 400px;
			max-width: 79%;
			background-image: url('../images/layout/pattern.png');
			background-repeat: no-repeat;
			background-position: top center;
		}
		@include media-breakpoint-down(md) {
			padding: 20px 15px;
			img, svg {				
				max-width: 55px;
			}
		}
		p {
			padding-top: 15px;
			padding-bottom: 20px;
			font-style: italic;
			@include media-breakpoint-up(sm) {
				@include font-size(20px, 35px);
			}
			@include media-breakpoint-up(md) {
				@include font-size(18px, 35px);
			}
			@include media-breakpoint-up(xl) {
				@include font-size(25px, 45px);
			}
			&.title {
				position: relative;
				font-style: normal;
				line-height: 1;
				padding-top: 30px;
				margin-bottom: 0px;
				&:before {
					content: "";
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					margin: auto;
					width: 200px;
					height: 2px;
					background: $color-dark;
				}
			}
		}
	}
	.slick-slide > div, .slick-slide .slider__item {
		float: none;
		clear: both;
	}
	.slick-slide {
		opacity: 0.5;
	}
	.slick-center {
		opacity: 1;
	}
	.slick-dots {
		display: flex;
		bottom: -40px;
		button {
			width: 11px;
			height: 11px;
			padding: 0px;
			&:before {
				background: #C4C4C4;
				width: 11px;
				height: 11px;
				border-radius: 50%;
			}			
		}
		.slick-active button:before {
				background: rgba(#202125,.7);
			}
	}
}