.module_04 {
	position: relative;
	display: block;
	overflow: hidden;	
	.col-md-7 {
		@include media-breakpoint-up(md) {
			flex: 0 0 56.64%;
			max-width: 56.64%;
		}
	}
	.col-md-5 {
		@include media-breakpoint-up(md) {
			flex: 0 0 43.34%;
			max-width: 43.34%;
		}
	}
	p {
		font-weight: 500;
		font-size: 15px;
		line-height: 25px;
	}
	.intro {
		visibility: hidden;
		padding-top: 30px;
		max-width: 484px;
		h1, h2, h3, h4, h5 {
			margin-bottom: 25px;
			font-weight: 300;
			line-height: 1.2;
		}
		h2 {
			@include media-breakpoint-up(lg) {
				font-size: 35px;
			}
		}
	}
	.img_bg {
		position: absolute;
		top: 0;
		z-index: -1;
		&:before {
			background: linear-gradient(#fff 20%, transparent 95%);
			position: absolute;
			z-index: 3;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.content_wrap .img_wrap {
		visibility: hidden;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@include media-breakpoint-up(md) {
			top: -22px;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}