// !: Elements – Content
body {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden; 
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#wrap {
	padding-top: 100px;
	flex: 1;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		flex: auto!important;
		// fix for IE
	}
	@include media-breakpoint-down(md) {
		padding-top: 75px;
	}
}
.hamburger.hamburger--spring {
	color: $color-dark;
	outline: none;
}
.table {
	thead {
		@extend .thead-dark;
	}
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
