// !: Elements – Pages

body {
    @include font-size(16px);

    font-family: $font-base;
}
p {
    @include font-size(14px);

    @include media-breakpoint-up(lg) {
        @include font-size(18px);
    }
}
