.fw-secondary {
  font-family: $font-base-two;
}
.text-center {
	text-align: center;
}
.btn.btn-transparent {
    color: white;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(black,.8);
    &:before {
        display: block;
        position: absolute;
        content: "";
        z-index: 1;
        width: 40px;
        height: 2px;
        background: white;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.2s ease-in-out;
    }
    &.b_left:before {
    	right: auto;
    }
    &:hover:before {
        width: 100%;
    }
    &.inverted {
    	color: $color-dark;
        background: rgba(white,.4);
    	&:before {
    		background: $color-dark;
    	}
    }
}
.heading_one {
    @include font-size(16px, 25px);
    letter-spacing: 0.2em;
    @include media-breakpoint-up(sm) {
        @include font-size(22px, 25px);
        letter-spacing: 0.4em;
    }

    font-weight: 300;
    text-transform: uppercase;
}
.heading_two {
    @include font-size(40px, 55px);
    font-family: $font-base-two;
    font-weight: 300;
    text-shadow: 8px 8px 20px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    display: block;
    @include media-breakpoint-up(sm) {
        @include font-size(60px, 75px);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(120px, 105px);
    }
}
.section_title {
    font-weight: 300;
    text-transform: uppercase;
    color: $color-dark;
    text-align: center;
    margin-bottom: 37px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-up(sm) {
        @include font-size(30px, 40px);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(35px, 45px);
    }
}
.img_wrap {
	position: relative;
	img {
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif);
		background-position: center;
		background-repeat: no-repeat;
		z-index: 0;
	}
}
.navInner {
    @include media-breakpoint-down(sm) {
        display: none;
    }
    display: block;
    height: 170px;
    position: relative;
    z-index: 11;
    ul {
        background: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 60px;
        margin-top: -60px;
        li {
            list-style: none;
            padding: 10px 0;
            a {
                font-weight: 500;
                display: block;
                color: black;
                line-height: 25px;
                font-size: 15px;
                padding: 7.5px 0px;
                position: relative;
                &:hover:before {
                    position: absolute;
                    content: "";
                    width: 30px;
                    height: 2px;
                    bottom: 0;
                    background: $color-dark;
                    left: 0;
                }
            }
        }
    }
}
.mobile-false {
    .module_04 .intro {
        visibility: visible;
    }
}
.animated-content,
.animated-image {
    visibility: hidden;
}
.slider_big {
    .slick-slide > div, .slick-slide .slider__item {
        width: 100%;
    }
    @include media-breakpoint-down(lg) {
        .item {
            padding: 0 40px;
        }
    }
    @include media-breakpoint-down(sm) {
        .item {
            padding: 0 20px;
        }
    }
    .slick-next {
        right: 0;
        &:before {
            background-image: url('../images/layout/arrow_right.svg');
        }
    }
    .slick-prev {
        left: 0;
        &:before {
            background-image: url('../images/layout/arrow_left.svg');
        }
    }
    .slick-prev, .slick-next {
        width: 11%;
        font-size: 0px;
        line-height: 1;
        height: 100%;
        background: rgba(white,.8);
        @include media-breakpoint-down(lg) {
            width: 55px;
        }
        @include media-breakpoint-down(md) {
            width: 50px;
            bottom: 0px;
        }
        @include media-breakpoint-down(sm) {
            width: 30px;
        }
        @include media-breakpoint-down(xs) {
            
            &:before {
                background-size: 60%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &:before {
            background-color: transparent;
            width: 33px;
            height: 54.44px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
            opacity: .7;
        }
        &:hover {
            background: rgba(white,.88);
            &:before {
                opacity: 1;
            }
        }
    }
}
