<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>{{ config.projectTitle }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- mobile toolbar theming -->
        <meta name="theme-color" content="{{ config.projectColour }}"/>
        <meta name="msapplication-navbutton-color" content="{{ config.projectColour }}"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

        <!--favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="images/faviconset/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/faviconset/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/faviconset/favicon-16x16.png">
        <link rel="manifest" href="images/faviconset/site.webmanifest">
        <link rel="mask-icon" href="images/faviconset/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="images/faviconset/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="images/faviconset/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Cormorant|Montserrat:300,400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
        <link rel="stylesheet" href="{{ config.stylesheet }}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />

    </head>