{#

  !: INIT Component – Newsletter
  :: Requires : /scss/_c.newsletter.scss
  
#}
{% import "../_config.njk" as config %}
<a href="#" id="back-to-top" class="hide"><i class="fas fa-chevron-up"></i></a>
<footer class="footer">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-auto">
          <img src="images/Stamp.png" alt="" class="mt-0 mb-3" style="max-width:230px;">
      </div>
      <div class="col-auto">
        <img src="images/contentFiles/module_footer/Commission-for-Aviation-Regulation.png" alt="Commission for Aviation Regulation" class="mt-0 mb-3" style="max-width:120px;">
      </div>
    </div>
    <div class="content_wrapper">
      <div class="row">
    
        <div class="col-12">
          <div class="row">
            <div class="col-6 col-sm-4 col-md">
              <h4>Contact</h4>
              <address>
                7 Anglesea Terrace,<br> Cork <br>
                Phone: <a href="tel:0214320898">021 4320 898</a> <br>
                Fax: <a href="tel:0214320899">021 4320 899</a>
              </address>
            </div>
            <div class="col-6 col-sm-4 col-md">
              <h4>Explore</h4>
              <ul class="footer__nav">
                <li><a href="/">Destinations</a></li>
                <li><a href="/">Holiday Types</a></li>
                <li><a href="/">Inspore Me</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4 col-md">
              <h4>The company</h4>
              <ul class="footer__nav">
                <li><a href="/">Why Travel Focus</a></li>
                <li><a href="/">Privacy</a></li>
                <li><a href="/">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-auto">
              <ul class="socialLinks justify-content-center justify-content-md-end my-4">
                <li class="nav-facebook"><a href="#">Facebook</a></li>
                <li class="nav-twitter"><a href="#">twitter</a></li>
               <!--  
               <li class="nav-g-plus"><a href="#">google</a></li> 
                here are added a loot more social icons to cover the cms just needs to contain "nav-nameofthesocialicontoshow" as above
               -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.content_wrapper -->
    <div class="row">
      <div class="col-12 text-center">
        <p>For more information contact your travel consultant on <a href="tel:1890 929 323">1890 929 323</a> Telephone calls to and from Travel Focus may be monitored under our quality control procedures and recorded for training purposes.</p>
        <p>Fully Licensed &amp; Bonded - License No. TA0489</p><br>
        <p class="copyrights">© 2019 {{config.projectTitle}}   |   Built by <a href="https://granite.ie"> Granite Digital</a></p>
      </div>

    </div>
  </div>
</footer>