{#

  !: Bootstrap component – Navbar
  :: Requires : _navbar.scss, _nav.scss, _buttons.scss, _forms.scss from Bootstrap

#}
<nav class="c-navbar navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mr-auto p-0" href="homepage.html">
            <img src="images/logo-01.svg" alt="Quintas">
        </a>
        <a class="btn btn-dark mr-4 d-lg-none" href="#" role="button"><span class="d-none d-sm-block">Get in Touch</span><span class="d-sm-none"><i class="fa fa-envelope"></i></span></a>
        <button class="hamburger hamburger--spring p-0 border-0" data-toggle="menu-offcanvas" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="offcanvas-navbar">
            <ul class="navbar-nav mx-auto mr-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Destinations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="innerpage.html">South Africa</a>
                      <a class="dropdown-item" href="innerpage-ct.html">Cape Town</a>
                      <a class="dropdown-item" href="#">Botswana</a>
                      <a class="dropdown-item" href="#">Maldives</a>
                      <a class="dropdown-item" href="#">Seychelles</a>
                      <a class="dropdown-item" href="#">Mauritius</a>
                      <a class="dropdown-item" href="#">New Zealand</a>
                      <a class="dropdown-item" href="#">Australia</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown2" role="button" aria-haspopup="true" aria-expanded="false">
                      Holiday Types
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <a class="dropdown-item" href="innerpage-hm.html">Honeymoon</a>
                      <a class="dropdown-item" href="innerpage-cb.html">Cuba</a>
                      <a class="dropdown-item" href="innerpage-ab.html">About Us</a>
                      <a class="dropdown-item" href="innerpage-ht.html">Hotel</a>
                      <a class="dropdown-item" href="#">Retirement holiday</a>
                      <a class="dropdown-item" href="#">Once in a lifetime</a>
                      <a class="dropdown-item" href="#">Adventure holiday</a>
                      <a class="dropdown-item" href="#">Foodie holiday</a>
                      <a class="dropdown-item" href="#">Cruising</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inspire Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Why Travel Focus</a>
                </li>
            </ul>
            <div class="c-navbar__actions d-none d-lg-block">
                <a class="btn btn-dark btn--contact" href="#" role="button">Get in Touch</a>
            </div>
        </div>
    </div>
</nav>
    