<noscript>
    <input class="modal-closing-trick" id="modal-closing-trick" type="checkbox">
    <div class="no-script modal-backdrop fade in"></div>
    <div class="modal fade in no-js">
        <div class="noscriptmsg">
            Please enable your javascript in order to view this site
        </div>
        <label class="btn btn-primary btn-fill-horz" for="modal-closing-trick">
            Close this, use anyway.
        </label>
    </div>
</noscript>
