{#

  !: INIT Component – Banner
  :: Requires : /scss/_c.banner.scss + init its slider in /scripts/main.js
  
#}


<!-- Banner -->
{% macro new (extraClass, heading, subheading) %}
<section class="banner {{extraClass}}">
   <div class="banner__container">
      <div class="slider">
         <!-- If single image -->
         <div class="slider__item">
            <div class="slider__image">
               <picture>
                  <source media='(min-width: 1440px)'
                     srcset='images/contentFiles/homepageImages/01.jpg'>
                  <source media='(min-width: 768px)'
                     srcset='images/contentFiles/homepageImages/01_md.jpg'>
                  <img src='images/contentFiles/homepageImages/01_xs.jpg' alt=''>
               </picture>
            </div>
            
             <div class="slider__container">
                <div class="slider__overlay">
                    <h1 class="heading_one">Once in a lifetime</h1>
                    <h2 class="heading_two">Experiences</h2>
                    <p>Lagoons with infinite shades of blue and turquoise and dazzling underwater coral gardens combine to create the perfect tropical holiday destination</p>
                    <p><a href="#" class="btn btn-transparent">Explore</a></p>
                </div>
             </div>
            
        </div>
        <div class="slider__item">
            <div class="slider__image">
               <picture>
                  <source media='(min-width: 1440px)'
                     srcset='images/contentFiles/homepageImages/02.jpg'>
                  <source media='(min-width: 768px)'
                     srcset='images/contentFiles/homepageImages/02_md.jpg'>
                  <img src='images/contentFiles/homepageImages/02_xs.jpg' alt=''>
               </picture>
            </div>
            <div class="slider__container">
                <div class="slider__overlay">
                    <h1 class="heading_one">Once in a lifetime 2</h1>
                    <h2 class="heading_two">Experiences 2</h2>
                    <p>Lagoons with infinite shades of blue and turquoise and dazzling underwater coral gardens combine to create the perfect tropical holiday destination</p>
                    <p><a href="#" class="btn btn-transparent">Explore</a></p>
                </div>
             </div>
        </div>
      </div>
    </div>
</section>
{% endmacro %}