{#

  !: INIT Component – Banner
  :: Requires : /scss/_s.banner.scss + init its slider in /scripts/main.js
  
#}


<!-- Banner -->
{% macro new (extraClass, heading, subheading) %}
<section class="banner {{extraClass}}">
   <div class="banner__container">
      <div class="slider">
         <!-- If single image -->
         <div class="slider__item">
            <div class="slider__image">
              <img src='images/contentFiles/innerpageImages/02.jpg' alt=''>
            </div>
            
             <div class="slider__container">
                <div class="slider__overlay">
                    <h1 class="heading_one">Cape of Good Hope</h1>
                    <h2 class="heading_two">Cape Town</h2>
                    
                </div>
             </div>
        </div>
        
      </div>
    </div>
</section>
{% endmacro %}