{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/m-banner.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
	<main id="wrap">
		{% include './components/c-navbar.njk' %}

		{{banner.new(
			'banner--large'
		)}}
		<section class="module_01">
			<div class="img_wrap">
				<img src='images/contentFiles/module_01/01.jpg' alt=''>
			</div>
			<div class="content_wrap">
				<h1 class="heading_one">BREATH TAKING</h1>
				<h2 class="heading_two">Botswana</h2>
				<p class="punchline">One of the world’s last true unspoilt wilderness areas. <br>A vast country with huge populations of game makes it a prime safari destination</p>
				<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
			</div>
		</section>
		<section class="module_02">
			<div class="row">
				<div class="col-12 col-md-6 col-lg">
					<div class="item">
						<div class="img_wrap">
							<img src='images/contentFiles/module_02/01.jpg' alt='image'>
						</div>
						<div class="content_wrap">
							<h2>Caribbean Honeymoons</h2>
							<p class="textline">Sandy beaches, clear waters and palm trees the Caribbean is the ultimate romantic getaway</p>
							<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg">
					<div class="item">
						<div class="img_wrap">
							<img src='images/contentFiles/module_02/02.jpg' alt='image'>
						</div>
						<div class="content_wrap">
							<h2>WEDDINGS IN PARADISE</h2>
							<p class="textline">Sandy beaches, clear waters and palm trees the Caribbean is the ultimate romantic getaway</p>
							<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg">
					<div class="item">
						<div class="img_wrap">
							<img src='images/contentFiles/module_02/03.jpg' alt='image'>
						</div>
						<div class="content_wrap">
							<h2>Adventure Holidays</h2>
							<p class="textline">Sandy beaches, clear waters and palm trees the Caribbean is the ultimate romantic getaway</p>
							<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg">
					<div class="item">
						<div class="img_wrap">
							<img src='images/contentFiles/module_02/04.jpg' alt='image'>
						</div>
						<div class="content_wrap">
							<h2>Dubai Cruises</h2>
							<p class="textline">Sandy beaches, clear waters and palm trees the Caribbean is the ultimate romantic getaway</p>
							<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 pt-3 pb-5 text-center">
					<a href="#" class="btn btn-transparent inverted">Explore more</a>
				</div>
			</div>
		</section>
		<section class="module_03 pb-4">
			<div class="container">
				<div class="row">
					<div class="col-12 pt-5">
						<div class="intro">
							<div class="subtitle">Travel With</div>
							<h2 class="heading_two">No Boundaries</h2>
							<p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							<p class="punchline"><a href="#" class="btn btn-transparent inverted">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
						</div>
					</div>
				</div>
				<div class="row pt-5">
					<div class="col-12 col-md-6">
						<div class="item">
							<div class="img_wrap">
								<img src="images/contentFiles/module_03/01.jpg" alt="image">
							</div>
							<div class="content_wrap">
								<p>Timeless tranquillity of the desert &amp; the lively bustle of the souk</p>
								<p><a href="#" class="btn btn-transparent b_left inverted">Explore Dubai</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="item">
							<div class="img_wrap">
								<img src="images/contentFiles/module_03/02.jpg" alt="image">
							</div>
							<div class="content_wrap">
								<p>Wide horizons &amp; endless stretches of golden dunes</p>
								<p><a href="#" class="btn btn-transparent b_left inverted">Explore Namibia</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="item">
							<div class="img_wrap">
								<img src="images/contentFiles/module_03/03.jpg" alt="image">
							</div>
							<div class="content_wrap">
								<p>Palm trees, rum punch and the sound of steel drums</p>
								<p><a href="#" class="btn btn-transparent b_left inverted">Explore the Caribbean</a></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="item">
							<div class="img_wrap">
								<img src="images/contentFiles/module_03/04.jpg" alt="image">
							</div>
							<div class="content_wrap">
								<p>Wide horizons &amp; endless stretches of golden</p>
								<p><a href="#" class="btn btn-transparent b_left inverted">Explore New Zealand</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pt-3 pb-5 text-center">
						<a href="#" class="btn btn-transparent inverted">More Destinations</a>
					</div>
				</div>
			</div>
		</section>
		<section class="module_01 v2">
			<div class="img_wrap">
				<img src='images/contentFiles/module_01/02.jpg' alt='image'>
			</div>
			<div class="content_wrap">
				<h1 class="heading_one">We are your</h1>
				<h2 class="heading_two">Travel Experts</h2>
				<p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
				<p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
			</div>
		</section>
		<section class="module_footer">
			<div class="container">
				<div class="intro">
					<h1 class="heading_one">NEVER STOP EXPLORING</h1>
					<h2 class="heading_two">Inspire me</h2>
					<p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
				</div>
				<div class="row no-gutters">
					<div class="col-12 col-md-6">
						<div class="row no-gutters">
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/01.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/02.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/03.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/04.jpg" alt="">
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<a class="pilon" href="#" title="link to something">
							<span class="img_wrap">
								<img src="images/contentFiles/module_footer/05.jpg" alt="">
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- {{content.new(
			'Hello',
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum diam et vulputate vestibulum. Aenean cursus, arcu sit amet sollicitudin lacinia, tortor nisl placerat justo, vitae pretium quam dolor a augue. Pellentesque lectus eros, aliquet eu egestas a, consectetur maximus ipsum. Vivamus tempor scelerisque nibh, nec vulputate eros congue quis. Morbi in neque vehicula, dictum diam non, lacinia lectus.'
			)}} -->
		</main>

		{% include './components/c-footer.njk' %}

		{% include "./components/_scripts.njk" %}
	</body>
</html>