{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/s-banner-ct.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
  <main id="wrap">
    {% include './components/c-navbar.njk' %}

    {{banner.new(
      'banner--small'
    )}}
    <nav class="navInner">
      <div class="container">
        <ul>
          <li><a href="#nav_elem_05" class="scroll_to">Overview</a></li>
          <li><a href="#nav_elem_06" class="scroll_to">Hotels</a></li>
          <li><a href="#nav_elem_07" class="scroll_to">Tours</a></li>
          <li><a href="#nav_elem_08" class="scroll_to">Inspiration</a></li>
        </ul>
      </div>
    </nav>
    <section class="module_04" id="nav_elem_05">
      <div class="img_wrap img_bg">
        <img src="images/contentFiles/module_04/02.jpg" alt="image">
      </div>
      <div class="container">
        <div class="content_wrap">
          <div class="row no-gutters">
            <div class="col-12 col-md-7">
              <div class="intro animated-content">
                <h2>ONE OF THE MOST BEAUTIFUL DESTINATIONS IN THE WORLD</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="img_wrap animated-image">
                <img src="images/contentFiles/module_04/02a.jpg" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module_08">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="content_wrap">
              <div class="hero">
                <h2 class="animated-content">Superb Culinary <br>Experiences</h2>
              </div>
              <div class="content_block animated-content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 order-md-first">
            <div class="img_wrap animated-image">
              <img src="images/contentFiles/module_08/01.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module_09" id="nav_elem_06">
      <div class="container">
        <h2 class="section_title">CAPE TOWN HOTELS</h2>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/01.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">HOLLOW ON THE SQUARE</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/02.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">THE PORTSWOOD</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/03.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">THE COMMODORE</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/04.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">SOUTHERN SUN WATERFRONT</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/05.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">VICTORIA &amp; ALFRED HOTEL</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="box">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/06.jpg" alt="">
              </div>
              <div class="content_wrap">
                <a href="#" class="btn btn-transparent b_left inverted">RADISSON BLUE HOTEL WATERFRONT</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3 pb-5 text-center">
              <a href="#" class="btn btn-transparent inverted">View all Hotels</a>
            </div>
          </div>
      </div>
    </section>
    
    <section class="module_06" id="nav_elem_07">
      <h2 class="section_title">Cape Town Tours</h2>
      <article class="module_01">
        <div class="img_wrap">
          <img src='images/contentFiles/module_01/04.jpg' alt=''>
        </div>
        <div class="content_wrap">
          <h1 class="heading_one">BREATHTAKINGLY SCENIC</h1>
          <h2 class="heading_two">Penninsula Tour</h2>
          <p class="punchline">This comprehensive tour shows the best of the spectacular Cape Peninsula. Enjoy a trip to Hout Bay, passing the pristine beaches of Camps Bay, Clifton and Llundudno.</p>
          <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
        </div>
      </article>
      <div class="split_items">
        <div class="row">
          <div class="col-12 col-md-6">
            <article>
              <div class="img_wrap has_overlay">
                <img src="images/contentFiles/module_06/04a.jpg" alt="">
              </div>
              <div class="content_wrap">
                <h3>THE<br> WINELANDS TOUR</h3>
                <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
              </div>
            </article>
          </div>
          <div class="col-12 col-md-6">
            <article>
              <div class="img_wrap has_overlay">
                <img src="images/contentFiles/module_06/04b.jpg" alt="">
              </div>
              <div class="content_wrap">
                <h3>WALK TO<br> FREEDOM TOUR</h3>
                <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-3 pb-5 text-center">
          <a href="#" class="btn btn-transparent inverted">View all Tours</a>
        </div>
      </div>
    </section> <!-- /#nav_elem_03 -->
    
    <section class="module_07" id="nav_elem_04">
      <h2 class="section_title">What OUR CLIENTS SAY</h2>
      <div class="quotes_slider">
        <div class="item">
          <img src="images/layout/quotes.svg" alt="quotes">
          <p>Thank you so much Travel Focus for booking our amazing holiday to Cape Town! Joanna gave us great advice and helped us plan a fabulous holiday.</p>
          <p class="title">Andrea O Gorman</p>
        </div>
        <div class="item">
          <img src="images/layout/quotes.svg" alt="quotes">
          <p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
          <p class="title">Emily O&apos;Leary Champlin </p>
        </div>
        <div class="item">
          <img src="images/layout/quotes.svg" alt="quotes">
          <p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
          <p class="title">Emily O&apos;Leary Champlin </p>
        </div>
      </div>
    </section>
    
    <section class="module_01 v2">
      <div class="img_wrap">
        <img src='images/contentFiles/module_01/04c.jpg' alt='image'>
      </div>
      <div class="content_wrap">
        <h1 class="heading_one">SHARE YOUR IDEAS WITH OUR</h1>
        <h2 class="heading_two">Cape Town Expert</h2>
        <p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        <p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
      </div>
    </section>
    <section class="module_footer">
      <div class="container">
        <div class="intro">
          <h1 class="heading_one">NEVER STOP EXPLORING</h1>
          <h2 class="heading_two">Inspire me</h2>
          <p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="row no-gutters">
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/01.jpg" alt="">
                  </span>
                  <span class="content_block">
                    <p class="punchline"><span href="#" class="btn btn-transparent b_left">Explore</span></p>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/02.jpg" alt="">
                  </span>
                  <span class="content_block">
                    <p class="punchline"><span href="#" class="btn btn-transparent b_left">Explore</span></p>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/03.jpg" alt="">
                  </span>
                  <span class="content_block">
                    <p class="punchline"><span href="#" class="btn btn-transparent b_left">Explore</span></p>
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/04.jpg" alt="">
                  </span>
                  <span class="content_block">
                    <p class="punchline"><span href="#" class="btn btn-transparent b_left">Explore</span></p>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <a class="pilon" href="#" title="link to something">
              <span class="img_wrap">
                <img src="images/contentFiles/module_footer/05.jpg" alt="">
              </span>
              <span class="content_block">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="punchline"><span href="#" class="btn btn-transparent b_left">Explore</span></p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    </main>

    {% include './components/c-footer.njk' %}

    {% include "./components/_scripts.njk" %}
  </body>
</html>