{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/s-banner.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
	<main id="wrap">
		{% include './components/c-navbar.njk' %}

		{{banner.new(
			'banner--small'
		)}}
		<nav class="navInner">
			<div class="container">
				<ul>
					<li><a href="#nav_elem_01" class="scroll_to">Overview</a></li>
					<li><a href="#nav_elem_02" class="scroll_to">Destinations</a></li>
					<li><a href="#nav_elem_03" class="scroll_to">Tours</a></li>
					<li><a href="#nav_elem_04" class="scroll_to">Inspiration</a></li>
				</ul>
			</div>
		</nav>
		<section class="module_04" id="nav_elem_01">
			<div class="img_wrap img_bg">
				<img src="images/contentFiles/module_04/01.jpg" alt="image">
			</div>
			<div class="container">
				<div class="content_wrap">
					<div class="row no-gutters">
						<div class="col-12 col-md-7">
							<div class="intro animated-content">
								<h2>Overview</h2>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
							</div>
						</div>
						<div class="col-12 col-md-5">
							<div class="img_wrap animated-image">
								<img src="images/contentFiles/module_04/01a.jpg" alt="image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="module_05" id="nav_elem_02">
			<div class="module_03 pt-5">
				<div class="container">
					<h2>Destinations</h2>
					<div class="row pt-3">
						<div class="col-12 col-md-6">
							<div class="item">
								<div class="img_wrap">
									<img src="images/contentFiles/module_03/05.jpg" alt="image">
								</div>
								<div class="content_wrap">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
									<p><a href="#" class="btn btn-transparent b_left inverted">CAPE TOWN</a></p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="item">
								<div class="img_wrap">
									<img src="images/contentFiles/module_03/06.jpg" alt="image">
								</div>
								<div class="content_wrap">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
									<p><a href="#" class="btn btn-transparent b_left inverted">WINE LANDS</a></p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="item">
								<div class="img_wrap">
									<img src="images/contentFiles/module_03/07.jpg" alt="image">
								</div>
								<div class="content_wrap">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
									<p><a href="#" class="btn btn-transparent b_left inverted">THE GARDEN ROUTE</a></p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="item">
								<div class="img_wrap">
									<img src="images/contentFiles/module_03/08.jpg" alt="image">
								</div>
								<div class="content_wrap">
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
									<p><a href="#" class="btn btn-transparent b_left inverted">EASTERN CAPE SAFARI</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 pt-3 pb-5 text-center">
							<a href="#" class="btn btn-transparent inverted">View all Destinations</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="module_06" id="nav_elem_03">
			<h2 class="section_title">South African Tours</h2>
			<article class="module_01">
				<div class="img_wrap">
					<img src='images/contentFiles/module_06/01.jpg' alt=''>
				</div>
				<div class="content_wrap">
					<h1 class="heading_one">The Magnificent</h1>
					<h2 class="heading_two">Garden Route</h2>
					<p class="punchline">The Garden Route is our exquisite coastal green belt, one which invites little forays inland to visit quaint towns like Oudtshoorn, dubbed the ‘feather capital of the world</p>
					<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
				</div>
			</article>
			<div class="split_items">
				<div class="row">
					<div class="col-12 col-md-6">
						<article>
							<div class="img_wrap has_overlay">
								<img src="images/contentFiles/module_06/02.jpg" alt="">
							</div>
							<div class="content_wrap">
								<h3>World in one <br>Country Tour</h3>
								<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6">
						<article>
							<div class="img_wrap">
								<img src="images/contentFiles/module_06/03.jpg" alt="">
							</div>
							<div class="content_wrap">
								<h3>In the footsteps <br>of Mandela</h3>
								<p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 pt-3 pb-5 text-center">
					<a href="#" class="btn btn-transparent inverted">View all Tours</a>
				</div>
			</div>
		</section> <!-- /#nav_elem_03 -->
		
		<section class="module_07" id="nav_elem_04">
			<h2 class="section_title">What OUR CLIENTS SAY</h2>
			<div class="quotes_slider">
				<div class="item">
					<img src="images/layout/quotes.svg" alt="quotes">
					<p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
					<p class="title">Emily O&apos;Leary Champlin </p>
				</div>
				<div class="item">
					<img src="images/layout/quotes.svg" alt="quotes">
					<p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
					<p class="title">Emily O&apos;Leary Champlin </p>
				</div>
				<div class="item">
					<img src="images/layout/quotes.svg" alt="quotes">
					<p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
					<p class="title">Emily O&apos;Leary Champlin </p>
				</div>
			</div>
		</section>
		
		<section class="module_01 v2">
			<div class="img_wrap">
				<img src='images/contentFiles/module_01/03.jpg' alt='image'>
			</div>
			<div class="content_wrap">
				<h1 class="heading_one">SHARE YOUR IDEAS WITH OUR</h1>
				<h2 class="heading_two">South African Expert</h2>
				<p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
				<p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
			</div>
		</section>
		<section class="module_footer">
			<div class="container">
				<div class="intro">
					<h1 class="heading_one">NEVER STOP EXPLORING</h1>
					<h2 class="heading_two">Inspire me</h2>
					<p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
				</div>
				<div class="row no-gutters">
					<div class="col-12 col-md-6">
						<div class="row no-gutters">
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/01.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/02.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/03.jpg" alt="">
									</span>
								</a>
							</div>
							<div class="col-6">
								<a class="pilon" href="#" title="link to something">
									<span class="img_wrap">
										<img src="images/contentFiles/module_footer/04.jpg" alt="">
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<a class="pilon" href="#" title="link to something">
							<span class="img_wrap">
								<img src="images/contentFiles/module_footer/05.jpg" alt="">
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		
		</main>

		{% include './components/c-footer.njk' %}

		{% include "./components/_scripts.njk" %}
	</body>
</html>