{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/s-banner-ht.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
  <main id="wrap">
    {% include './components/c-navbar.njk' %}

    {{banner.new(
      'banner--small'
      )}}
      <section class="module_12">
        <div class="container">
          <div class="hero_wrap">
            <div class="row">
              <div class="col-12 col-md-7">
                <h2 class="section_title animated-content">Stylish &amp; INVITING <br>Award-Winning Hotel</h2>
              </div>
              <div class="col-12 col-md-5">
                <ul class="rating animated-image">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-7">
              <div class="content-wrap animated-content">
                <p>The Southern Sun Waterfront Cape Town provides all the essential comforts and quality one would expect from a full service hotel. Guest facilities include an excellent breakfast room, an additional à la carte restaurant, a cocktail bar, fitness centre, Utopia Face &amp; Body Salon, outdoor swimming pool, meeting rooms, a business centre, as well as wireless internet connectivity in all rooms and bar, and secure
                undercover parking. </p>
                <p>Undercover parking is available for guests. The hotel offers a
                shuttle service to the V&amp;A Waterfront at a nominal fee.</p>
              </div>
            </div>
            <div class="col-12 col-md">
              <ul class="facilities">
                <li class="animated-image"><div class="fig"><img src="images/contentFiles/module_12/01.svg" alt=""></div> <span>Wi-Fi</span></li>
                <li class="animated-image"><div class="fig"><img src="images/contentFiles/module_12/02.svg" alt=""></div> <span>Pool</span></li>
                <li class="animated-image"><div class="fig"><img src="images/contentFiles/module_12/03.svg" alt=""></div> <span>24hr <br>Reception</span></li>
                <li class="animated-image"><div class="fig"><img src="images/contentFiles/module_12/04.svg" alt=""></div> <span>Gym</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="module_08">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-7">
              <div class="content_wrap">
                <div class="hero">
                  <h2 class="animated-content">Rooms</h2>
                </div>
                <div class="content_block animated-content">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-5 order-md-first">
              <div class="img_wrap animated-image">
                <a href="images/contentFiles/module_08/05.jpg" 
                data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-animation-effect="zoom"
                data-thumbs='{"autoStart":true}'>
                <img src="images/contentFiles/module_08/05.jpg" alt="">
                <i class="fas fa-camera"></i>
              </a>
              <div style="display: none;">
                <a href="https://source.unsplash.com/Ai2TRdvI6gM/1500x1000" data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-thumb="https://source.unsplash.com/Ai2TRdvI6gM/240x160"></a>

                <a href="https://source.unsplash.com/Hau6K6VP5vs/1500x1000" data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-thumb="https://source.unsplash.com/Hau6K6VP5vs/240x160"></a>

                <a href="https://source.unsplash.com/muFaKaGw0eE/1500x1000" data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-thumb="https://source.unsplash.com/muFaKaGw0eE/240x160"></a>

                <a href="https://source.unsplash.com/eXHeq48Z-Q4/1500x1000" data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-thumb="https://source.unsplash.com/eXHeq48Z-Q4/240x160"></a>

                <a href="https://source.unsplash.com/hBYzBU1xP6s/1500x1000" data-fancybox="images-preview" 
                data-width="1500" data-height="1000"
                data-thumb="https://source.unsplash.com/hBYzBU1xP6s/240x160"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="slider_big">
      <div class="item">
        <article class="module_08 inverted">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="content_wrap">
                  <div class="hero">
                    <h2 class="">FACILITIES</h2>
                  </div>
                  <div class="content_block">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="img_wrap ">
                  <a href="images/contentFiles/module_08/06.jpg" 
                  data-fancybox="images" 
                  data-width="1500" data-height="1000"
                  data-animation-effect="zoom"
                  data-thumbs='{"autoStart":true}'><img src="images/contentFiles/module_08/06.jpg" alt=""><i class="fas fa-camera"></i></a>
                  <div style="display: none;">
                    <a href="https://source.unsplash.com/Ai2TRdvI6gM/1500x1000" data-fancybox="images" 
                    data-width="1500" data-height="1000"
                    data-thumb="https://source.unsplash.com/Ai2TRdvI6gM/240x160"></a>

                    <a href="https://source.unsplash.com/Hau6K6VP5vs/1500x1000" data-fancybox="images" 
                    data-width="1500" data-height="1000"
                    data-thumb="https://source.unsplash.com/Hau6K6VP5vs/240x160"></a>

                    <a href="https://source.unsplash.com/muFaKaGw0eE/1500x1000" data-fancybox="images" 
                    data-width="1500" data-height="1000"
                    data-thumb="https://source.unsplash.com/muFaKaGw0eE/240x160"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="item">
        <article class="module_08 inverted">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="content_wrap">
                  <div class="hero">
                    <h2 class="">FACILITIES</h2>
                  </div>
                  <div class="content_block">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="img_wrap">
                  <a href="images/contentFiles/module_08/06.jpg" 
                  data-fancybox="preview" 
                  data-width="1500" data-height="1000"
                  data-animation-effect="zoom"
                  data-thumbs='{"autoStart":true}'><img src="images/contentFiles/module_08/06.jpg" alt=""><i class="fas fa-camera"></i></a>
                  <div style="display: none;">
                    <a href="https://source.unsplash.com/Ai2TRdvI6gM/1500x1000" data-fancybox="preview" 
                    data-width="1500" data-height="1000"
                    data-thumb="https://source.unsplash.com/Ai2TRdvI6gM/240x160"></a>

                    <a href="https://source.unsplash.com/Hau6K6VP5vs/1500x1000" data-fancybox="preview" 
                    data-width="1500" data-height="1000"
                    data-thumb="https://source.unsplash.com/Hau6K6VP5vs/240x160"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>


    <section class="module_11">
      <h2 class="section_title">IMAGE GALLERY</h2>
      <div class="slider_custom">
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/04.jpg" alt="">
          </div>
        </div>
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/05.jpg" alt="">
          </div>
        </div>
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/06.jpg" alt="">
          </div>
        </div>
      </div>
    </section>


    <section class="module_01 v2">
      <div class="img_wrap">
        <img src='images/contentFiles/module_01/02.jpg' alt='image'>
      </div>
      <div class="content_wrap">
        <h1 class="heading_one">We are your</h1>
        <h2 class="heading_two">Travel Experts</h2>
        <p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        <p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
      </div>
    </section>
    <section class="module_footer">
      <div class="container">
        <div class="intro">
          <h1 class="heading_one">NEVER STOP EXPLORING</h1>
          <h2 class="heading_two">Inspire me</h2>
          <p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="row no-gutters">
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/01a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/02a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/03a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/04a.jpg" alt="">
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <a class="pilon" href="#" title="link to something">
              <span class="img_wrap">
                <img src="images/contentFiles/module_footer/05a.jpg" alt="">
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

  </main>

  {% include './components/c-footer.njk' %}

  {% include "./components/_scripts.njk" %}
</body>
</html>