{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/s-banner-hm.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
  <main id="wrap">
    {% include './components/c-navbar.njk' %}

    {{banner.new(
      'banner--small'
    )}}
    
    <section class="module_08">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="content_wrap">
              <div class="hero">
                <h2 class="animated-content">The Holiday <br>of a Lifetime <div class="img-block"><img src="images/layout/heart.png" alt="heart"></div></h2>
              </div>
              <div class="content_block animated-content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 order-md-first">
            <div class="img_wrap animated-image">
              <img src="images/contentFiles/module_08/02.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="module_09" id="nav_elem_06">
      <div class="container">
        <h2 class="section_title">TOP HoNEYMOON DESTINATIONS</h2>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box v2">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/01.jpg" alt="">
              </div>
              <div class="content_wrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
                <a href="#" class="btn btn-transparent b_left inverted">THE CARIBBEAN</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="box v2">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/02.jpg" alt="">
              </div>
              <div class="content_wrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
                <a href="#" class="btn btn-transparent b_left inverted">Las Vegas &amp; Mexico</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="box v2">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/03.jpg" alt="">
              </div>
              <div class="content_wrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
                <a href="#" class="btn btn-transparent b_left inverted">SRI LANKA</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="box v2">
              <div class="img_wrap">
                <img src="images/contentFiles/module_09/04.jpg" alt="">
              </div>
              <div class="content_wrap">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
                <a href="#" class="btn btn-transparent b_left inverted">GREECE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3 pb-5 text-center">
              <a href="#" class="btn btn-transparent inverted">View all Destinations</a>
            </div>
          </div>
      </div>
    </section>

    
    
    <section class="module_07" id="nav_elem_04">
      <h2 class="section_title">What OUR CLIENTS SAY</h2>
      <div class="quotes_slider">
        <div class="item">
          <img src="images/layout/heart_v2.svg" alt="quotes">
          <p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
          <p class="title">Emily O&apos;Leary Champlin </p>
        </div>
        <div class="item">
          <img src="images/layout/heart_v2.svg" alt="quotes">
          <p>We will never forget our honeymoon. A trip of a lifetime. We would highly recommend Travel Focus and especially Jo! </p>
          <p class="title">Lucy Kearns</p>
        </div>
        <div class="item">
          <img src="images/layout/heart_v2.svg" alt="quotes">
          <p>Have booked from my honeymoon to holidays to south Africa and Dubai with travel focus. Amazing service and helpful and pleasant staff</p>
          <p class="title">Emily O&apos;Leary Champlin </p>
        </div>
      </div>
    </section>
    
    <section class="module_01 v2">
      <div class="img_wrap">
        <img src='images/contentFiles/module_01/05.jpg' alt='image'>
      </div>
      <div class="content_wrap">
        <h1 class="heading_one">SHARE YOUR IDEAS WITH OUR</h1>
        <h2 class="heading_two">Honeymoon Expert</h2>
        <p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        <p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
      </div>
    </section>
    <section class="module_footer">
      <div class="container">
        <div class="intro">
          <h1 class="heading_one">NEVER STOP EXPLORING</h1>
          <h2 class="heading_two">Inspire me</h2>
          <p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="row no-gutters">
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/01a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/02a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/03a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/04a.jpg" alt="">
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <a class="pilon" href="#" title="link to something">
              <span class="img_wrap">
                <img src="images/contentFiles/module_footer/05a.jpg" alt="">
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    </main>

    {% include './components/c-footer.njk' %}

    {% include "./components/_scripts.njk" %}
  </body>
</html>