{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/s-banner-cb.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
  <main id="wrap">
    {% include './components/c-navbar.njk' %}

    {{banner.new(
      'banner--small'
    )}}
    
    <section class="module_08">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="content_wrap">
              <div class="hero">
                <h2 class="animated-content">MY HEART <br>IS IN HAVANA </h2>
              </div>
              <div class="content_block animated-content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 order-md-first">
            <div class="img_wrap animated-image">
              <img src="images/contentFiles/module_08/03.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="module_06">
      <h2 class="section_title">Cuban Tours</h2>
      <article class="module_01">
        <div class="img_wrap">
          <img src='images/contentFiles/module_06/05.jpg' alt=''>
        </div>
        <div class="content_wrap">
          <h1 class="heading_one">THE ESSENCE OF CUBA</h1>
          <h2 class="heading_two">Rum &amp; Cigars Tour</h2>
          <p class="punchline">In a country not short of icons, the cigar is one of Cuba's most enduring images. Even if you have no interest in the product itself, a tour of a cigar factory is a must</p>
          <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
        </div>
      </article>
      <div class="split_items">
        <div class="row">
          <div class="col-12 col-md-6">
            <article>
              <div class="img_wrap has_overlay v2">
                <img src="images/contentFiles/module_06/05a.jpg" alt="">
              </div>
              <div class="content_wrap">
                <h3>THE CLASSIC<br>CARS TOUR</h3>
                <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
              </div>
            </article>
          </div>
          <div class="col-12 col-md-6">
            <article>
              <div class="img_wrap has_overlay">
                <img src="images/contentFiles/module_06/05b.jpg" alt="">
              </div>
              <div class="content_wrap">
                <h3>THE CHE <br>GUAVARA TOUR</h3>
                <p class="punchline"><a href="#" class="btn btn-transparent b_left">Explore</a></p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-3 pb-5 text-center">
          <a href="#" class="btn btn-transparent inverted">View all Tours</a>
        </div>
      </div>
    </section> 

    <section class="module_08 inverted">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="content_wrap">
              <div class="hero">
                <h2 class="animated-content">LUSH SUGAR PLANTATIONS<br>&amp; SLEEPY COLONIAL TOWNS</h2>
              </div>
              <div class="content_block animated-content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptate.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="img_wrap animated-image">
              <img src="images/contentFiles/module_08/04.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="module_10">
      <h2 class="section_title">TOP TIPS FROM OUR EXPERTS</h2>
      <div class="container">
        <div class="slider_tips">
          <div class="item">
            <div class="img_wrap">
              <img src="images/contentFiles/module_10/01.jpg" alt="">
            </div>
            <div class="content_wrap">
              <p class="punchline"><a href="#" class="btn btn-transparent inverted b_left">VARADEROS BEACHES</a></p>
              <p>Its more than 20 km of excellent beaches, white a broad strip of fine, white sand along the shoreline, and a continental shelf that softly sinks into a warm, crystalclear sea</p>
            </div>
          </div>
          <div class="item">
            <div class="img_wrap">
              <img src="images/contentFiles/module_10/02.jpg" alt="">
            </div>
            <div class="content_wrap">
              <p class="punchline"><a href="#" class="btn btn-transparent inverted b_left">HAVANAS NIGHTLIFE</a></p>
              <p>Its more than 20 km of excellent beaches, white a broad strip of fine, white sand along the shoreline, and a continental shelf that softly sinks into a warm, crystalclear sea</p>
            </div>
          </div>
          <div class="item">
            <div class="img_wrap">
              <img src="images/contentFiles/module_10/03.jpg" alt="">
            </div>
            <div class="content_wrap">
              <p class="punchline"><a href="#" class="btn btn-transparent inverted b_left">LATIN RHYTHMS</a></p>
              <p>Its more than 20 km of excellent beaches, white a broad strip of fine, white sand along the shoreline, and a continental shelf that softly sinks into a warm, crystalclear sea</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="module_11">
      <h2 class="section_title">CUBA AT A GLANCE</h2>
      <div class="slider_custom">
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/01.jpg" alt="">
          </div>
        </div>
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/02.jpg" alt="">
          </div>
        </div>
        <div class="item">
          <div class="img_wrap">
            <img src="images/contentFiles/module_11/03.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="module_01 v2">
      <div class="img_wrap">
        <img src='images/contentFiles/module_01/06.jpg' alt='image'>
      </div>
      <div class="content_wrap">
        <h1 class="heading_one">SHARE YOUR IDEAS WITH OUR</h1>
        <h2 class="heading_two">Cuba Expert</h2>
        <p class="punchline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        <p class="punchline"><a href="#" class="btn btn-transparent">CONTACT OUR EXPERTS &amp; BEGIN YOUR JOURNEY</a></p>
      </div>
    </section>
    <section class="module_footer">
      <div class="container">
        <div class="intro">
          <h1 class="heading_one">NEVER STOP EXPLORING</h1>
          <h2 class="heading_two">Inspire me</h2>
          <p class="trendline">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
        </div>
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="row no-gutters">
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/01a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/02a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/03a.jpg" alt="">
                  </span>
                </a>
              </div>
              <div class="col-6">
                <a class="pilon" href="#" title="link to something">
                  <span class="img_wrap">
                    <img src="images/contentFiles/module_footer/04a.jpg" alt="">
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <a class="pilon" href="#" title="link to something">
              <span class="img_wrap">
                <img src="images/contentFiles/module_footer/05a.jpg" alt="">
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    </main>

    {% include './components/c-footer.njk' %}

    {% include "./components/_scripts.njk" %}
  </body>
</html>